.btn-primary {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    max-height: 40px;
    line-height: 27px;
}

@media (min-width: 576px) { 
    .btn-primary {
        display: block;
        max-width: 290px;
        margin: 0 auto;
    } 
}

@media (min-width: 768px) {
    .btn-primary {
        margin: 0;
    }
}