.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Roboto;
}
.App-logo {
  height: 36px;
  width: 36px;
  margin-right: 10px;
}

.App-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.pageWrapper {
  margin-top: 60px;
  padding: 0 15px;
}

.menuFormWrapper {
  max-width: 800px;
  margin: 0 auto;
}